<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <system.serviceModel>
    <client>
      <endpoint name="KdcServiceEndpoint"
          address="net.tcp://localhost:8200/MyKdcService"
          binding="netTcpBinding"
          contract="Contracts.IKdcService"></endpoint>

      <endpoint name="FtpServiceEndpoint"
          address="net.tcp://localhost:8300/MyFtpService"
          binding="netTcpBinding"
          contract="Contracts.IFtpService"></endpoint>
    </client>
  </system.serviceModel>
</configuration>
